[2021-04-08 09:26] guilhemmarchand opened #163 "alerts actions via UCC leads to Python imports errors and more errors after workaround"
Currently testing migrating to the UCC for alert actions purposes, I am stuck with Python import errors even with the default testing Addon:

[code]

**Steps to reproduce:**

- in the directory splunk/addonfactory-ucc-generator/tests/data, run ucc-gen to generate the Splunk_TA_UCCExample app
- Install the app in a fresh clean Splunk (I am using Docker)
- I modified the alert in the globalConfig.js

[2021-04-08 10:54] rfaircloth-splunk commented on #163
what ucc lib build is in your requirements?

[2021-04-08 11:09] guilhemmarchand commented on #163
@rfaircloth-splunk

Hope this answers to your question:

[code]

[2021-04-08 11:10] guilhemmarchand commented on #163
[code]

[2021-04-09 15:37] guilhemmarchand commented on #163
@rfaircloth-splunk

Some updates on this, I think I've isolated the problem and it seems not to be related with the UCC directly.
For some reasons, this seems to be happened under specific conditions in my lab when the app is "installed" via a volume in Docker, aka:

[code]

I'll run into more tests and will update.

[2021-04-10 08:23] guilhemmarchand commented on #163
@rfaircloth-splunk

I have been carefully reviewing and testing, my previous statement was wrong and I can confirm that there seem to be an issue with the alert actions side of it from an Addon generated with UCC. (forget about the symlink thing, I've been testing with proper install so no questions about that)

**My test is the following: (one simple param in the alert action)**

_addonfactory-uc

[2021-04-16 22:08] guilhemmarchand commented on #163
Hi!

Would anyone had any idea on this issue?
I've got several apps I would love to swtich to UCC based libs, but these issues with alert actions are blocking me unfortunately.

Thanks

[2021-04-16 22:42] guilhemmarchand commented on #163
@rfaircloth-splunk

The following fix is required, currently Addons created with ucc-gen simply cannot work on Splunk 8.x for the alert actions, which is in my opinion important enough to get fixed.

**In the alert_actions_base.py that is generated by ucc-gen:**

example:

Splunk_TA_UCCExample/lib/splunktaucclib/alert_actions_base.py

[code]

needs to be fixed to:

[code]

Which fixes the Python i

[2021-04-19 13:18] arys-splunk commented on #163
@guilhemmarchand there are already PRs going in different repository to fix this issue:
 * https://github.com/splunk/addonfactory-ucc-library/pull/35 - fixes package import
 * https://github.com/splunk/addonfactory-ucc-library/pull/36 - fixes file reading method

[2021-04-19 13:58] arys-splunk commented on #163
@guilhemmarchand new version of ucc library was released (https://github.com/splunk/addonfactory-ucc-library/releases/tag/v4.1.1), can you please try it?

[2021-04-19 21:18] guilhemmarchand commented on #163
@arys-splunk

Thanks for you answer, earlier when I checked it was still the case but that was prior to 4.1.1, so I will check and revert ASAP

[2021-04-20 07:11] guilhemmarchand commented on #163
@arys-splunk

I am glad to confirm that UCC libs 4.1.1 fixed the issues I was observing on alert actions starting with Splunk 8.x, and wil be closing this issue.
Sorry I now realise the issue was on the lib repo, so I shall have opeend an issue there.

Thanks!

Guilhem

[2021-04-20 07:11] #163 closed

[2021-04-24 13:58] guilhemmarchand opened #175 "restRoot schema properties check is incorrectly too restrictive"
Hi,

A recently introduced change mades the UCC gen way too much, and incorrectly, restrictive regarding the Addon naming convention.

Example of failure:

[code]

This change was I believe introduced in the following commit:

https://github.com/splunk/addonfactory-ucc-generator/commit/0782921c2103bb569d0b8e2a531e8bf0429178f9

The regular expression should not forbid the usage of hypens, while thi

[2021-05-20 10:19] Monk- opened #189 "Possibility to run main function as a python function"

[2021-05-20 10:26] Monk- opened #190 "Possibility to run main function as a python function"
**Problem**

At the moment to run `addonfactory-ucc-generator` from a python file we need to create a subprocess

`subprocess.run(["ucc-gen", "arguments go here"], env=os.environ)`

Which makes it harder to debug and catch errors.

**Possible solution**

What about creating another function called `main_with_args` which we will be able to normally use in python code, e.g.

[code]

[2021-05-20 10:27] #189 closed

[2021-05-21 07:30] okuzhel-splunk opened #192 "Git version is required even if TA version is passed as parameter"
Here it is a few problems glued together. Logic is like following

__init__.py
line 626 - we get a version from Git, if the work folder does not have a git initialized we fail
line 635 - we create an argument `--ta-version`
line 643 - if ta-version argument was passed we completely ignore the version that we got in line 626

Problems:
1. We always require our work folder to have git versioning ava

[2021-05-21 11:46] arys-splunk commented on #192
Created #193 to address it.

[2021-06-02 10:49] arys-splunk opened #210 "ucc-gen is creating a package which is not working in Splunk"
I used 2 different globalConfig.json files to generate add-on. I've uploaded them here (Github does not allow to upload JSON files, so they are in .txt format).

Steps to reproduce:

- `ucc-gen`
- `slim package output/Splunk_TA_mysql`
- upload archive to Splunk
- go to app

When using `globalConfig_1` - it gives the first error.
When using `globalConfig_2` - it gives the second error.

Expectation

[2021-06-02 11:02] rfaircloth-splunk commented on #210
Are you using ucc 4.x or 5.x?

[2021-06-02 11:02] arys-splunk commented on #210
5.0.0

[2021-06-02 11:24] harshpatel-crest commented on #210
There are multiple issues:

- The first one is something that can be fixed  in UCC UI because it is caused by the fact that the globalConfig only has configuration page and not inputs page.
- The second issue might be caused by resthandler and globalConfig schema mismatch. But you can check and attach splunkd.log error to check whats the underlying cause.

[2021-06-02 12:27] arys-splunk commented on #210
We have a globalConfig.json schema validation here: https://github.com/splunk/addonfactory-ucc-generator/blob/b7cd16eac33c3048ab7c7dbcb2365ff95ba534e1/splunk_add_on_ucc_framework/__init__.py#L645-L654

And it is being used here: https://github.com/splunk/addonfactory-ucc-generator/blob/b7cd16eac33c3048ab7c7dbcb2365ff95ba534e1/splunk_add_on_ucc_framework/__init__.py#L707-L715

So, if I provide glob

[2021-06-02 12:30] arys-splunk commented on #210
To avoid this situation I started working on unit tests for schema validation (https://github.com/splunk/addonfactory-ucc-generator/tree/main/tests/unit) but after 5.0.0 release they are not working.

[2021-06-02 12:43] harshpatel-crest commented on #210
@arys-splunk I think they are not configured properly in CI since version 4.5.0 (https://app.circleci.com/pipelines/github/splunk/addonfactory-ucc-generator/719/workflows/97fab64f-1a2c-4ab9-a2a7-d110b5903ad6/jobs/1782/steps). Will need to add an execution step for it in circle ci config.

[2021-06-07 12:56] rfaircloth-splunk commented on #192
:tada: This issue has been resolved in version 5.0.1 :tada:

The release is available on [GitHub release](https://github.com/splunk/addonfactory-ucc-generator/releases/tag/v5.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-07 14:11] arys-splunk commented on #192
@okuzhel-splunk can you please check version 5.0.2, it should contain a fix that you need?

[2021-06-07 18:32] arys-splunk commented on #190
Started working on that in https://github.com/splunk/addonfactory-ucc-generator/tree/feature/ucc-as-a-library branch.

[2021-06-07 18:47] arys-splunk commented on #175
Hi @guilhemmarchand, I pinged one of the engineers involved in this repository.

[2021-06-07 19:05] arys-splunk commented on #210
First issue was resolved by patching ucc-base-ui repository.
And I found a root cause for the second one: restmap.conf was not in the proper state.

Closing this issue.

[2021-06-07 19:05] #210 closed

[2021-06-08 16:08] #190 closed

[2021-06-08 16:55] arys-splunk commented on #192
Closing this one as PR was merged already.

[2021-06-08 16:55] #192 closed

[2021-06-09 13:25] rfaircloth-splunk commented on #190
:tada: This issue has been resolved in version 5.1.0 :tada:

The release is available on:
- `v5.1.0`
- [GitHub release](https://github.com/splunk/addonfactory-ucc-generator/releases/tag/v5.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-12 22:34] rfaircloth-splunk opened #227 "Consider removal of additional pip related objects from output"
Do we need to swap `try` and `for`?

It does not work if you have `lib/requirements.txt` with the following content:
[code]
In the resulting package we will still have `pkg_resources/`, `_distutils_hack/` folders and `distutils-precedence.pth` file.

_Originally posted by @arys-splunk in https://github.com/splunk/addonfactory-ucc-generator/pull/224#r650413792_

[2021-06-15 08:19] arys-splunk commented on #175
Hi @guilhemmarchand

We would like to leave it as it is now.

To fix this issue from your side - you can change "TA-jira-service-desk-simple-addon" to "TA_jira_service_desk_simple_addon".

[2021-06-15 08:33] guilhemmarchand commented on #175
In my opinion this does not make sense @arys-splunk

If we would consider this as something mandatory, Appinspect would raise this as a failure and not a warning, and we would forbid this for instance in Splunk Cloud.

"To fix this issue from your side - you can change "TA-jira-service-desk-simple-addon" to "TA_jira_service_desk_simple_addon"."

This is nothing like an answer, changing an app name

[2021-06-15 08:52] arys-splunk commented on #175
@guilhemmarchand I reopened the issue and your comment makes sense for me, did not think about the potential customer implications. Let me pull @rfaircloth-splunk here and will try to figure this out.

[2021-06-15 16:24] arys-splunk commented on #175
@guilhemmarchand Can you please share what are you trying to achieve? From what you are talking

do you mean that you want to change the name of the add-on?

I assume that you are talking about https://github.com/guilhemmarchand/TA-jira-service-desk-simple-addon repository. From what I see it has https://github.com/guilhemmarchand/TA-jira-service-desk-simple-addon/blob/master/TA-jira-service-desk-

[2021-06-15 16:57] guilhemmarchand commented on #175
Another addition to this topic, Splunk UI does not allow the usage of - and replaces any hyphen with an underscore...
https://splunkui.splunkeng.com/Create/AppTutorial

[2021-06-17 19:15] guilhemmarchand commented on #175
Hi @arys-splunk !
Sorry for late reply, I didn't see the updates.

All right, I see what you mean, so actually, I was trying to create the app from scratch using the ``ucc-gen``.

The reason why I am trying to use this naming is because the app exists already with this naming, which at that time of the original Addon creation wasn't discouraged.

My end goal is to migrate these originally AoB crea

[2021-07-05 12:04] #175 closed

[2021-07-05 18:20] guilhemmarchand opened #249 "Cannot perform action "POST" without a target name to act on."
Hi!

Currently trying to migrate an existing Add-on to be using the super cool features on the framework, I am encountering a failure when attempting to save an account, with:

[code]

**As bellow:**

![image](https://user-images.githubusercontent.com/7503059/124507282-6227bf80-ddc5-11eb-8b10-d33dc69312c3.png)

Testing with the UCC Example TA works perfectly fine so I am certain this is coming fro

[2021-07-05 19:56] guilhemmarchand commented on #249
Thanks to @arys-splunk I could fix the issue:

[code]

Closing now.

[2021-07-05 19:56] #249 closed

[2021-07-06 18:20] guilhemmarchand opened #256 "Multiple helplink with an empty label leads to breaking the configuration page due to duplicate"
If globalConfig.json contains multiple helplink objects with an empty label, UCC breaks, example:

[code]

Leads to:

![image](https://user-images.githubusercontent.com/7503059/124648345-0fb2d580-de8f-11eb-9bf3-6cd80565c6ec.png)

This can be workaround by changing the second label to an empty space:

[code]

Then everything works fine.

Thanks!

[2021-07-06 18:20] guilhemmarchand opened #871 "BUG: Multiple helplink with an empty label leads to breaking the configuration page due to duplicate"
If globalConfig.json contains multiple helplink objects with an empty label, UCC breaks, example:

[code]

Leads to:

![image](https://user-images.githubusercontent.com/7503059/124648345-0fb2d580-de8f-11eb-9bf3-6cd80565c6ec.png)

This can be workaround by changing the second label to an empty space:

[code]

Then everything works fine.

Thanks!

[2021-07-06 21:48] arys-splunk commented on #256
This error is coming from here:
https://github.com/splunk/addonfactory-ucc-base-ui/blob/124fd7a093dbdd637531ab7798df02fda6f96797/src/main/webapp/util/uccConfigurationValidators.js#L102-L110

The comment says that

@harshpatel-crest Can you please help with this one?

[2021-07-07 08:04] harshpatel-crest commented on #256
It is a validation error from UCC UI. The comment explains it well, the same label value for the same group is not allowed. Can you please explain what is the use case here for empty labels?

[2021-07-07 08:36] guilhemmarchand commented on #256
@harshpatel-crest

Yes, first this is how we demonstrate it in the example:

[code]

Second is, by nature the label has no value nor a purpose for an help link especially, you can of course add a label which will be on the left side of the panel but it has no point for an help link:

![image](https://user-images.githubusercontent.com/7503059/124727250-73c4b080-df06-11eb-9b74-fb64c8653133.png)

If

[2021-07-07 10:27] harshpatel-crest commented on #256
@guilhemmarchand I see. Thanks for providing screenshots. I think we can remove this validation from the help link as it doesn't make sense. And probably also remove label prop from its definition or make it optional atleast. We will fix this in the UCC UI repo.

[2021-07-12 09:33] guilhemmarchand opened #265 "Issue - mod alert import fails in Splunk 7.3.x"
With current release, mod alert works with Splunk 8.x but fail with Splunk 7.3.x (and probably priors)

If you include a modified version of the bin/<name of the alert>_helper.py and I modify the import such that:

[code]

instead of:

[code]

Likely a Python 2.7.x / 3.x compatibility issue.

[2021-07-12 09:41] guilhemmarchand opened #266 "Feature request - generate SHC related synchronisation configuration"
When creating and Add-on with ucc-gen, we should generate automatically the relevant configuration for the Add-on to work properly in Search Head Cluster and synchronise the configuration file amongs the members.

This is achieved via the generation of a server.conf:

[code]

oauth if in use would added too.

[2021-07-12 10:04] guilhemmarchand opened #267 "Feature request - create metadata/default.meta"
When creating an Add-on with ucc-gen, a default.meta should be automatically created for the Add-on component to be made available out of its own app name space.

The purpose of an Add-on (except the pure data collection) to provide system wide available items such as alert actions or even index and search time parsing, these should by default be shared at the system level with the automatic gener

[2021-07-13 09:16] arys-splunk commented on #267
I think this makes sense, we have `default.meta` (https://github.com/splunk/addonfactory-repository-template/blob/514fc39b73ec65d79ac373e09a6db9a6970fdfad/seed/package/metadata/default.meta) in place in repository template, so it means that `default.meta` is created for every repository, but `ucc-gen` is not creating it.

[2021-07-13 09:45] arys-splunk commented on #266
I think we can provide a flag to `ucc-gen` to include SHC synchronisation. I am not sure if each add-on needs SHC by default. @guilhemmarchand what do you think?

[2021-07-13 10:59] guilhemmarchand opened #271 "Feature request - Switch to enterprise dark theme via globalConfig.json"
Hi,

From the UI point of view, it would be a great addition to be able change the UI based theme via a configuration parameter in globalConfig.json.

Currently, ucc-gen will use an hard encoded light mode, if the Add-on provides frontend components such as other dashboards and if these are using dark theme, then from a conception point of view the configuration UI looks a defect in the app.

And

[2021-07-13 10:59] guilhemmarchand opened #872 "Feature request: Switch to enterprise dark theme via globalConfig.json"
Hi,

From the UI point of view, it would be a great addition to be able change the UI based theme via a configuration parameter in globalConfig.json.

Currently, ucc-gen will use an hard encoded light mode, if the Add-on provides frontend components such as other dashboards and if these are using dark theme, then from a conception point of view the configuration UI looks a defect in the app.

And

[2021-07-13 11:56] arys-splunk commented on #271
I am going to transfer this issue to UCC UI repository.

[2021-07-16 22:32] guilhemmarchand commented on #266
@arys-splunk
My opinion is that yes the Addon should include it automatically.

If running in standalone this won't have any effects, and if running in SHC then it works automatically as it should be.
Users shouldn't to think about about that, this is a root cause of potential loss of time and frustration for users for no technically justified reason.

Many users will not know it and will think th

[2021-07-23 18:56] pmeyerson opened #285 "set python.version in inputs.conf.spec?"
Is there a way for UCC to build inputs.conf.spec with python.version already set?  Right now I am using regex via additional_packaging to modify the output but I was wondering if there was a cleaner solution I might have missed.
It gets flagged as a failure by appinspect otherwise.

$ splunk-appinspect inspect ${APP_DIR_NAME}_${APP_VERSION}.spl --output-file ${APP_DIR_NAME}_${APP_VERSION}_CORE_APP

[2021-07-23 19:46] pmeyerson commented on #285
Oh, I mis-read the appinspect error I think, and also seem to have hit an edge case.
I did have default/inputs.conf in my repo.  I have 2 inputs in globalConfig.json but only one was listed in defaults/inputs.conf

So user should have either:
1) no default/inputs.conf supplied to ucc-gen -> ucc-gen will set python.version = python3 for all inputs defined in globalConfig.json
   or
2) default/input

[2021-07-25 14:48] arys-splunk commented on #285
There is a bug in the code, UCC should handle `default/inputs.conf` and `README/inputs.conf.spec` files.

[2021-08-07 13:04] guilhemmarchand opened #303 "Appinspect warning with web.conf due to `pattern` exposed that does not correspond to any `match` stanza in restmap.conf"
**Appinspect warning with web.conf due to `pattern` exposed that does not correspond to any `match` stanza in restmap.conf**

An Add-on created with ucc-gen results gets a warning message from Appinsect as follows:

[code]

The check refers to this section in the generated web.conf:

[code]

The restmaps.conf contains (generated by ucc-gen):

[code]

It looks like we should have a corresponding st

[2021-08-07 16:58] arys-splunk commented on #303
I could not reproduce the issue using appinspect cli.

What I run:
[code]

Output:
[code]

[2021-08-09 17:56] guilhemmarchand commented on #303
Hi @arys-splunk

So, this actually happens if you add in default directory the resulting configuration file from ucc-gen for the app, which would contain any setting defined in the app via globalConfig.json.

For instance, say I want to explicitly set the default logging value in the app, and for this I rely on what the app would create automatically via the UI:

https://github.com/guilhemmarchand

[2021-08-09 18:10] guilhemmarchand commented on #303
@arys-splunk
I'm a bit confused too actually.

This does happen for my JIRA app:

https://github.com/guilhemmarchand/TA-jira-service-desk-simple-addon

[code]

But not for TrackMe:

https://github.com/guilhemmarchand/trackme

[code]

Both are using ucc-gen but TrackMe only sets the logging - so I'm not fully sure why one triggers and the other not

[2021-08-09 18:13] pmeyerson commented on #303
I get the same warning as well using ucc-gen.  I do have custom conf file with the default settings shipped with the app.

[code]

generated web.conf:
[code]

[2021-08-09 18:16] guilhemmarchand commented on #303
thanks @pmeyerson - so there's well a thing

[2021-08-09 18:20] guilhemmarchand commented on #303
Ha ! Stupid me

I do remember now why it is not happening with TrackMe @arys-splunk @pmeyerson

This is because I fixed it ;-)

https://github.com/guilhemmarchand/trackme/blob/master/package/default/app.conf

ucc-gen needs to insert in app.conf the following stanza:

[code]

Which should contain the app file config name, then Appinspect is happy ;-)

[2021-08-09 18:20] pmeyerson commented on #303
i just removed the expose:_splunkd_data stanza from my web.conf  and the ucc UI still seems to work... maybe this stanza isn't needed?

[2021-08-09 18:25] guilhemmarchand commented on #303
This I cannot answer @pmeyerson  but maybe @arys-splunk  will.

What I can confirm is that ucc gen does not generate a trigger stanza, while AoB used to do:

For example in my JIRA app I had:

[code]

so I need to update mine because the name of the config file changed but AoB did this one initially

[2021-08-10 17:15] pmeyerson commented on #303
oh my app.conf has triggers as below, but did not seem to fix the appinspect warning
[code]

the app settings are saved to ta_oversight_settings.conf and I also have a modular input defined for this app.

[2021-08-11 09:14] arys-splunk commented on #303
Regarding the triggers stanza - we can create a feature request for it.

Regarding
[code]
I am still investigating do we actually need this one.

[2021-08-13 07:15] mchavda-splunk opened #315 "The version detail is not getting updated in the __init__.py file"
The version detail is not getting updated in the __init__.py file

File: https://github.com/splunk/addonfactory-ucc-generator/blob/main/splunk_add_on_ucc_framework/__init__.py#L17

[2021-08-13 08:21] arys-splunk commented on #315
Hey
I am planning to utilise https://github.com/google/semantic-release-replace-plugin plugin to automatically update versions in `__init__.py` and `poetry.toml` files.

[2021-08-13 11:49] arys-splunk opened #317 "Implement --version for ucc-gen to show the version of ucc-gen"
Be able to run `ucc-gen --version` and get the version of `ucc-gen` installed.

Version should be taken from https://github.com/splunk/addonfactory-ucc-generator/blob/e5cce497c7440ac93c9817e8e87695635ec483dc/splunk_add_on_ucc_framework/__init__.py#L17

[2021-08-14 17:31] #315 closed

[2021-08-14 17:33] rfaircloth-splunk commented on #315
:tada: This issue has been resolved in version 5.7.0-beta.1 :tada:

The release is available on:
- `v5.7.0-beta.1`
- [GitHub release](https://github.com/splunk/addonfactory-ucc-generator/releases/tag/v5.7.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-14 17:37] rfaircloth-splunk commented on #315
:tada: This issue has been resolved in version 5.7.0 :tada:

The release is available on:
- `v5.7.0`
- [GitHub release](https://github.com/splunk/addonfactory-ucc-generator/releases/tag/v5.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-14 18:10] arys-splunk commented on #267
This should be fixed in 5.7.0 version.

[2021-08-14 18:10] #267 closed

[2021-08-14 18:11] arys-splunk commented on #227
This one is not needed after https://github.com/splunk/addonfactory-ucc-generator/pull/314.

[2021-08-14 18:11] #227 closed

[2021-08-16 13:47] arys-splunk commented on #265
As per our conversation with @rfaircloth-splunk, we are not supporting Splunk 7.3.x anymore.

[2021-08-16 13:47] #265 closed

[2021-08-16 15:21] arys-splunk commented on #266
I'll work on this one this week.

[2021-08-17 08:57] arys-splunk opened #322 "Alert html generation is not working if help field contains text in <> brackets"
If `globalConfig.json` has an alert which has a field like
[code]
`ucc-gen` fails to create a html for this alert to use in Splunk.

The exact error is:
[code]

[2021-08-17 14:22] #322 closed

[2021-08-17 14:27] rfaircloth-splunk commented on #322
:tada: This issue has been resolved in version 5.8.1 :tada:

The release is available on:
- `v5.8.1`
- [GitHub release](https://github.com/splunk/addonfactory-ucc-generator/releases/tag/v5.8.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-18 08:48] arys-splunk opened #326 "Generated modular alert_actions.conf does not contain icon_path by default"
If `globalConfig.json` has an alert configuration, `ucc-gen` should create `alert_actions.con` file providing default alert icon. Otherwise, Appinspect CLI complains about missing `icon_path`.

[2021-08-18 09:42] #326 closed

[2021-08-18 09:47] rfaircloth-splunk commented on #326
:tada: This issue has been resolved in version 5.8.2 :tada:

The release is available on:
- `v5.8.2`
- [GitHub release](https://github.com/splunk/addonfactory-ucc-generator/releases/tag/v5.8.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-24 23:12] pmeyerson opened #331 "Feature request: import custom code module in generated modular input scripts."
So I have `my_custom_modular_input.py`, my custom code for a modular input, which implements `valiate_input` and `stream_events`

ucc-gen creates `my_custom.py`, a rest handler skeleton which has `stream_events`, `valiate_input`, all the arguments defined in globalConfig.json, and the filename is already linked to the modular input definition.

Since I already have `my_custom_modular_input.py`, it

[2021-09-06 08:33] arys-splunk commented on #317
After the next release - `ucc-gen` will output it's version.

[2021-09-06 08:33] #317 closed

[2021-09-07 15:25] arys-splunk commented on #266
Unfortunately, I am a bit busy right now, but I think that we can merge this feature request in a bigger feature request which may be resolve #285.

The idea is to merge all the configuration instead of rewriting them.

[2021-09-17 20:34] edro15 opened #350 "AppInspect failures referring to *nix write permission and hidden files"
When building an app using `ucc-gen`, I get the following AppInspect errors. Most of the *nix write permissions are referring to file generated by `ucc-gen`, as I suppose the hidden python files (which I could not locate).

[code]

However, when running the same build with splunk-add-on-ucc-framework version 5.5.5, AppInspect succeeds and these failures do not occur. Have you already seen this beh

[2021-09-18 08:32] arys-splunk commented on #350
Hi @edro15,
I assume that you are talking about https://github.com/splunk/splunk-app-for-dspt-compliance.
I tried to go through the process I am usually going when developing add-ons and I did not get those errors above (I got other, but that's another story).

What commands I run (assuming everything is installed):
[code]

My assumption is that you are not using `slim` tool to archive the `output

[2021-09-22 11:43] edro15 commented on #350
Following up to this conversation, I tried to package the app using the `slim package` command with no luck in terms of errors resolution.

However the hidden python files check issue seems to be caused by a bug in appInspect that detects `lib/charset_normalizer-2.0.5.dist-info/METADATA` as binary instead of a text file. The appInspect team is aware of this and already working on a fix.

Any luck

[2021-09-22 12:47] arys-splunk commented on #350
I could not reproduce "A posix world-writable file was found" error in my local environment after `ucc-gen` command. So, I'd say that it is not a `ucc-gen` issue. I'd say there is something in Github actions environment that is used.

Let's see if anyone else reports it too.

Also, there is workaround to use `chmod 644` to those files (it fixes `splunk-appinspect` failures).

[2021-09-23 15:01] arys-splunk commented on #350
I found a commit in https://github.com/splunk/addonfactory-ucc-generator-action that seems to have the issue (https://github.com/splunk/addonfactory-ucc-generator-action/commit/d0ad45d338ecd591386d65970bb79b49384da129).

[2021-09-27 13:51] arys-splunk opened #353 "Publish docs in splunk.github.io"
Publish docs that we have in `docs` folder in `splunk.github.io`. Example: https://splunk.github.io/splunk-connect-for-syslog/main/

[2021-10-04 16:03] arys-splunk commented on #350
@edro15 I am closing this one as it is an issue not related to `ucc-gen` itself.

[2021-10-04 16:03] #350 closed

[2021-10-04 16:17] edro15 commented on #350
Sure, close it. But I am not actually convinced 100% that it's not `ucc-gen` 🤷

[2021-10-05 15:10] arys-splunk commented on #266
I'll put here some of the examples from add-ons: https://github.com/guilhemmarchand/TA-ms-teams-alert-action/issues/40 and https://github.com/guilhemmarchand/TA-ms-teams-alert-action/issues/26

[2021-10-07 23:07] livehybrid opened #362 "Feature request: add a way to delete files in the output folder"
I am having issues setting files to be excluded using .uccignore

At https://github.com/splunk/addonfactory-ucc-generator/blob/6e21d9aa2851d3858cd4a19b866171bd4c88ffff/splunk_add_on_ucc_framework/__init__.py#L805 should the call to **remove_listed_files** not come after the copying of the files?
If I set .uccignore to exclude some files then it does not work unless I move this line to below the **

[2021-10-08 20:36] arys-splunk commented on #362
And if you can share what files are you trying to ignore?

[2021-10-10 00:17] livehybrid commented on #362
It would be a shame to lose this functionality when it 99% works already, just needs a small edit.
The .uccignore format follows the format of others similar files (such as .slimignore/.gitignore/.dockerignore etc) so makes sense to keep it like this?

[2021-10-11 14:39] arys-splunk commented on #362
@livehybrid Can you share your use case? What files are you trying to ignore?

Reasons behind deleting it are:
 * it is not documented
 * it is not widely used
 * you can achieve the same by using `additional_packaging.py`

[2021-10-17 12:41] livehybrid commented on #362
Currently we create a version of apps for testing, some for internal use and some for external publishing. Some versions have specific things removed such as eventgen.conf,pytest-splunk-addon-data.conf and samples depending on the audience.
We could implement this with additional-packaging.py, but would do so by taking the existing code from the ucc-gen app (but with the proposed fix).

It would b

[2021-10-29 21:44] arys-splunk commented on #362
After clarifying one more time with Ryan, we need to have 2 files:
1. `.uccignore` - if you add a file there - it means that `ucc-gen` should not rewrite this file with it's own content, example - `import_declare_test.py` with changes that you do not want to lose.
2. `.uccpackageignore` - tell `ucc-gen` not to specific file / folder to the "output" directory, example - `eventgen.conf`.

`.uccignor

[2021-11-03 09:57] hsekowski-splunk opened #875 "BUG: If Enter clicked on dialog, it does not behave as expected"
Once you press enter on some dialog, the dialog is closed with action as on "Cancel" while action like on "Add" would be expected.
![image (7)](https://user-images.githubusercontent.com/74253926/140040262-560675db-8897-4f42-b694-528ed0b89874.png)

[2021-11-09 22:39] ScriptBlock opened #389 "ucc-gen fails if output directory already exists"
After using ucc-gen in a clean environment and the output directory is created, subsequent ucc-gen invocation fails.

[code]

The output structure following the ucc-gen invocation is
[code]

Removing the output directory manually prior to ucc-gen results in proper output creation.

[2021-11-11 22:47] arys-splunk commented on #389
@ScriptBlock I could not reproduce the issue you having with the Ubuntu installation.

I suspect that the issue is in https://github.com/splunk/addonfactory-ucc-generator/blob/74ecd607d352288850902b52ba9e3c70b6a9bd67/splunk_add_on_ucc_framework/__init__.py#L122

Can I ask you to install `ucc-gen` using this command:
[code]
this should install a version from `troubleshooting/389` branch, it should

[2021-11-11 22:51] arys-splunk commented on #303
@guilhemmarchand @pmeyerson can I ask you to test the add-on you are developing without
[code]
lines in `web.conf` file.

Originally, the change that generates those lines was introduced in 2016 and is probably not valid anymore, but we would like to be sure that we are not going to break anything if we remove automatic generation of those lines.

[2021-11-22 02:50] pmeyerson commented on #303
Nothing in my app breaks.  I removed those lines and restarted before testing.

[2021-11-29 12:30] #303 closed

[2021-11-29 12:35] rfaircloth-splunk commented on #303
:tada: This issue has been resolved in version 5.10.1 :tada:

The release is available on:
- `v5.10.1`
- [GitHub release](https://github.com/splunk/addonfactory-ucc-generator/releases/tag/v5.10.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-02 14:37] ScriptBlock commented on #389
Sorry I forgot that you followed up.  I changed my workflow such that the output directory wasn't mounted by any process and ucc-gen was fine after that.  I think this perhaps was a file/directory locking problem and haven't had the same problem since.  I'll close.

[2021-12-02 14:37] #389 closed

[2021-12-02 14:45] ScriptBlock opened #401 "ucc-gen use input_with_helper.template vs. input.template"
Is there a trigger or parameter that will direct ucc-gen to use the input_with_helper template in the script stubs that are created?

[2021-12-04 11:23] arys-splunk commented on #401
Nope, it is hardcoded. `input_with_helper.template` is used by Add-on Builder as far as I know.

[2021-12-10 10:14] ghost opened #404 "`ucc-gen` failing to initialize the version from local git"
On unknown circumstances, `ucc-gen` is blowing up with the following error:

[code]

It was reported by @okashaev-splunk for one of the projects.

[2021-12-10 10:15] arys-splunk commented on #404
Easy fix is to use:

[code]

[2022-01-31 17:22] VatsalJagani opened #421 "jQuery version issue for App-Inspect warnings"
The app built with an **Add-on builder** has an issue/warning on the App-inspect for the jQuery version compatibility issue. (I'm posting here because I know UCC is what powers the Add-on builder.)
![image](https://user-images.githubusercontent.com/20964366/151841785-7b48b5c5-d58a-47e8-862e-895a66cf2dca.png)

Reference - https://dev.splunk.com/enterprise/docs/developapps/visualizedata/updatejquery

[2022-02-01 02:08] pmeyerson opened #422 "feature request - include javascript package requirements"
It would be helpful to have a list of the JavaScript libraries included by ucc-gen when it is building our apps, maybe by dropping the lock file in /lib?

Current work around:
1. curl package.lock from ucc-base-ui repo
2. prune devDependencies with jq
3. npm install --package-lock-only

It would be preferred if the ucc-gen would perform these functions or similar automatically.
Thanks for consider

[2022-02-01 09:49] harshpatel-crest commented on #421
Hi @VatsalJagani, this is already accounted for in UCC>=5 and AOB v4. Can you please check with the latest version and let us know if you still face this warning?

[2022-02-01 09:55] harshpatel-crest commented on #422
Hi @pmeyerson, could you please share your reason for pulling the lock file in this repo? Since the requirements are resolved and bundled into build generated at ucc-base-ui repo. Only bundled JS files are imported in the ucc-generator repo and hence there seems to be no reason for pulling a lock file here.

[2022-02-01 10:29] VatsalJagani commented on #421
@harshpatel-crest - Thanks for responding on this issue. I've replaced common.js shipped with AOB 4.0.0 and below are the warnings with that.
![image](https://user-images.githubusercontent.com/20964366/151952361-a9b82e50-8eae-47d7-a183-5820acd20eab.png)

[2022-02-04 01:06] pmeyerson commented on #422
Hi sorry if this wasn't clear or I am doing something crazy because I am still learning about js packaging.

My goal is to be able to report on the js dependencies included in my app built with ucc-gen.

I couldn't find any easy way with the ucc-gen build out put to easily list the js libraries, so I looked at the lock file in the base-ui repo.  But it seems to include development dependencies and

[2022-02-04 01:07] pmeyerson commented on #422
But from my perspective, it would be preferred if ucc-gen could perform this step on its own, so the ask is to provide list of js dependencies injected by ucc-gen in some way of your choosing that would make sense for everyone.  Hope that helps clarify things.

[2022-02-04 22:27] artemrys opened #425 "[Known Issue] After running ucc-gen on Github Actions some files have wrong permissions"
If running on GitHub Actions, and after installing `ucc-gen` files have wrong permissions. It affects only UI-based add-ons.

Steps to reproduce:

* Create a repository
* Create `.github/workflows` folder
* Create `main.yaml` file in it
* Put the following content there
[code]
* Commit and push
* You should see files from the last step have `-rw-rw-rw-+` permissions

Because `ucc-gen` copies all t

[2022-02-07 15:53] #404 closed, assigned to nobody

[2022-02-07 21:54] arys-splunk commented on #404
Will be fixed in https://github.com/splunk/addonfactory-workflow-addon-release/pull/21

[2022-02-11 17:46] artemrys opened #430 "`ucc-gen` fails if empty `metadata` folder exists"
If you are trying to run `ucc-gen` in the add-on and `metadata` folder already exists there, `ucc-gen` will fail.

[code]

[2022-03-01 11:29] dfederschmidt commented on #401
@ScriptBlock I think you may be able to do that by putting the following **template** key in your `globalConfig.json`

[code]

[2022-03-01 11:32] dfederschmidt opened #441 "Feature request: Multi-platform dependencies"
Currently, dependencies are installed during `ucc-gen` for the platform the script is executed. It reads the `lib/requirements.txt` folder and performs installation via `pip`.

The issue is, when running `ucc-gen` on a Mac and testing in a Linux-based Docker container, the dependencies will not work if there are native dependencies. Also, as a TA author, I want to provide compatibility across plat

[2022-04-07 13:42] Jalkar commented on #331
This feature could be really usefull, it could allow to use custom code without having to maintain the get_scheme() manually after some changes in the globalConfig.json...
May be it can be implemented as a custom template as a first step and avoid breakage of other use cases?

[2022-07-03 14:57] artemrys commented on #421
@VatsalJagani closing this issue because it seems to be resolved.

[2022-07-03 14:57] #421 closed

[2022-07-03 15:12] artemrys commented on #430
An update here, actually if there is no `metadata/default.meta`, but `metadata` folder exists, then it fails with the error above.

[2022-07-03 15:21] #430 closed

[2022-07-03 15:25] artemrys commented on #422
@pmeyerson do you have some specific format of the js dependencies in mind?

[2022-07-03 15:28] pmeyerson commented on #422
I don't. It's also possible this is better solved by some sbom generating tool or similar.

[2022-07-03 15:29] srv-rr-github-token commented on #430
:tada: This issue has been resolved in version 5.10.3 :tada:

The release is available on:
- `v5.10.3`
- [GitHub release](https://github.com/splunk/addonfactory-ucc-generator/releases/tag/v5.10.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-03 15:36] artemrys commented on #422
We are using [fossa](https://fossa.com/) right now in the UCC UI repository as well, I'll check now if we can get what we want without doing anything :)

[2022-07-03 21:02] artemrys commented on #422
Actually, checked `yarn` documentation.

Found that we can use something like `yarn list --prod --depth=0`.

Sample output for this repo:
[code]

I'll think about it next week as well.

[2022-07-03 21:05] artemrys commented on #441
@dfederschmidt That may be potentially a big one to implement, one of the examples for such kind of dependencies is `cryptography` package?

[2022-07-08 17:00] pmeyerson commented on #422
Awesome thank you!

[2022-07-22 03:51] joepalm4 opened #483 "Running ucc-gen appears to require python3 binary - Windows doesn't have one"
First question - is Windows supported for this toolset?

When running ucc-gen on a Windows system, I received the following output.
[code]
Since I'm running this in a virtual environment, I checked the venv\Scripts directory. Sure enough, Windows doesn't include a python3 binary (only python.exe). I'm wondering if the ucc-gen binary requires a python3 binary? If so, does anyone know how to add a p

[2022-07-22 03:59] joepalm4 commented on #483
So I did a temporary workaround (not sure it's kosher). I copy/pasted the `python.exe` file to a new file called `python3.exe`. I still think it would be good to fix the source code, so it can run on a standard Windows instance (if that's supported).

[2022-07-22 09:28] hsekowski-splunk opened #876 "Feature request: Number validators should be more specific about integers"
When defining field validators in globalConfig.json, we should be able to be more specific about numbers that are acceptable.
That are integers in most cases, but JavaScript number (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number) accepts floats as well.
Proposed options would be to reflect explicitly the type in validator type - eg. "number.integer" or impl

[2022-07-25 18:03] joepalm4 commented on #483
Hi @artemrys. I think what would work. If it's possible to integrate into the code the detection of python versions installed so it can leverage the proper binary, I think that would be preferred, but I understand that is considerably more work. Thank you for your quick response.

[2022-07-25 18:30] artemrys commented on #483
I will add a note to the documentation that it is recommended to run `ucc-gen` in the virtual environment and then we don't have many options for the binary name, it will be `python3` on Linux / macOS and `python.exe` on Windows.

Let me release a fix version really quick, so you can use released version instead of workarounding the issue with changing the names.

[2022-07-25 19:43] joepalm4 commented on #483
That sounds great - thank you, @artemrys!

[2022-08-02 14:43] #483 closed

[2022-08-02 14:46] srv-rr-github-token commented on #483
:tada: This issue has been resolved in version 5.13.0 :tada:

The release is available on:
- `v5.13.0`
- [GitHub release](https://github.com/splunk/addonfactory-ucc-generator/releases/tag/v5.13.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-09 12:44] artemrys opened #497 "Introduce `ucc-gen init` command"
It is hard for the beginners to start using UCC framework by the lack of the documentation and examples. That is what I will be working on for some time in the future.

But for now, we can also introduce a `ucc-gen init` command that creates a very minimal version of the add-on that can be loaded to Splunk and should be working without any additional modifications.

This command should accept the

[2022-08-25 15:11] Jalkar commented on #331
Is there any plan to add this functionality ?

[2022-08-25 15:26] artemrys commented on #331
I read the ask one more time, you are actually referring to the actual modular input code, not the rest handlers created by `ucc-gen` automatically. My initial comment was based on the assumption that you are referring to the rest handler custom code.

What you are referring to, may be an actually interesting feature request. I have limited capacity this quarter, I can keep this in mind during our

[2022-08-25 15:59] pmeyerson commented on #331
@Jalkar  FYI to get around this issue, I create the customizations I need to the rest handler in a separate module, extending `splunktaucclib`.  Then I let UCC create the "real" rest handler code , and just modify the handler class that is launched at the bottom of the file.  My use case is I need to take extra actions when an input is removed or disabled, outside of module input script.  But mayb

[2022-08-26 07:22] Jalkar commented on #331
So in the end you need to change the generated file after each ucc-gen exec ?

[2022-08-26 11:22] artemrys commented on #331
`ucc-gen` does not overwrite the files if they are already present in `package/bin/` folder for example with the correct name.

If you have an input called `demo_input.py` in `package/bin/` folder with your code, then `ucc-gen` does not override that file with the default content. The same is for the rest handlers and files.

As far as I understand, we are talking here about 2 different but simila

[2022-08-26 13:34] Jalkar commented on #331
My issue is currently when i'm adding a new parameter for an existing input, I need to manually edit the "scheme" of the existing package/bin/my_mod_input.py
For me the best solution would be to have a auto-generated "my_mod_input_base.py" which contains the autogenerated scheme with possibility to override with a custom "my_mode_input.py" inheriting from "my_mode_input_base"

[2022-08-26 14:10] Jalkar commented on #331
re-reading your last comments, i just catch the diff rest handler/modular inputs :)

[2022-08-26 14:33] pmeyerson commented on #331
FYI @Jalkar RE: "So in the end you need to change the generated file after each ucc-gen exec ?" >> YES.  I added code in additional_packaging.py to open the generated rest handler file, search for the the line of code and change it with regex.  Additional_packaging.py is automatically executed by ucc-gen as part of the build process - HTH
@artemrys - thanks for the correction regarding ucc not-ove

[2022-08-30 07:33] Jalkar commented on #331
ok thank for the feedback (I never realised the `additional_packaging` was a functionnality include in UCC ^^

[2022-09-01 16:05] artemrys commented on #331
Yeah, it was never in the documentation, I added it recently (https://splunk.github.io/addonfactory-ucc-generator/how_to_use/#additional_packagingpy-file).

I'll leave this issue open, I think this maybe interesting to implement in the future, not committing to it so far.

[2022-09-07 17:38] artemrys commented on #331
I'll rename this issue to track the customisation for the UCC-generated modular inputs and will open a new one to track customisation for the actual REST handlers.

By the way, I updated the docs and now it has an example for the custom REST handlers (https://splunk.github.io/addonfactory-ucc-generator/custom_rest_handler/).

[2022-09-07 17:47] artemrys opened #520 "Feature request: allow custom code for the REST handlers"
### Description

Similar to #331.

The goal of this enhancement is to give people an option to define a customisation for the UCC-generated REST handlers, it can be useful in case of additional validation of some fields before saving them.

There is already a solution where you need to "overwrite" the REST handler created by `ucc-gen` and put your own validation there, documented here: https://spl

[2022-11-04 13:23] artemrys opened #551 "Feature request: don't modify `globalConfig.json` when running `ucc-gen`"
### Description

Thanks @dfederschmidt for this feedback.

`meta.version` is being modified after an invocation of `ucc-gen`, which should not be the case.

[2022-11-21 13:55] hsekowski-splunk opened #676 "Add a tool to self document REST API (eg. swagger)"
Swagger (https://swagger.io/) or similar tool would improve TA developer and TA user experience